/* Board layout */
.board {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background: radial-gradient(rgba(155, 155, 155, 0.6), rgba(0, 0, 0, 0.7)), url("https://cabins-seeds.s3.amazonaws.com/go-oak.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  border: 1px solid #000;
}
.row {
  display: flex;
}
.cell {
  height: 30px;
  width: 30px;
  position: relative;
}
/* Grid lines */
.cell[data-stone='.']:before, .cell[data-stone='_']:before {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: "";
  background-color: #000;
  width: 1px;
  height: 100%;
}
.cell[data-stone='.']:after, .cell[data-stone="_"]:after {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: "";
  background-color: #000;
  width: 100%;
  height: 1px;
}
/* Trim Grid Lines */
.row .cell:first-child:after {
  width: 50%;
  left: 50%;
}
.row .cell:last-child:after {
  width: 50%;
  right: 50%;
}
.row:first-child .cell:before {
  height: 50%;
  top: 50%;
}
.row:last-child .cell:before {
  height: 50%;
  bottom: 50%;
}
/* Cells */
.game.white .cell[data-stone='_']:hover {
  background-color: white;
  border-radius: 50%;
  box-shadow: 1px 1px 1px #404040, inset -3px -3px 5px rgb(128, 128, 128);
  opacity: 0.5;
}
.game.black .cell[data-stone='_']:hover {
  background-color: black;
  background-image: radial-gradient(circle at 32% 30%, #606060 0%, transparent 90%);
  border-radius: 50%;
  box-shadow: 1px 1px 1px #404040;
  opacity: 0.5;
}
.cell[data-stone='W'], .cell[data-stone='w'] {
  background-color: white;
  border-radius: 50%;
  box-shadow: 1px 1px 1px #404040, inset -3px -3px 5px gray;
}
.cell[data-stone='B'], .cell[data-stone='b'] {
  background-color: black;
  background-image: radial-gradient(circle at 32% 30%, #606060 0%, transparent 90%);
  border-radius: 50%;
  box-shadow: 1px 1px 1px #000000;
}
.cell[data-stone='w'], .cell[data-stone='b'] {
  opacity: 0.5;
}
/* Stars */
.star[data-stone='_'], .star[data-stone='.'] {
  background-image: radial-gradient(#000 15%, transparent 0);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}
.game.black .star[data-stone='_']:hover {
  background-color: black;
  background-image: radial-gradient(#000 15%, transparent 0), radial-gradient(circle at 32% 30%, #606060 0%, transparent 90%);
  border-radius: 50%;
  box-shadow: 1px 1px 1px #404040;
  opacity: 0.5;
}