#game.over {
  margin-top: 0;
}

.endgame {
  display: flex;
  margin-bottom: 3vh;
  width: 85vw;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.table {
  margin: 5px 0 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 20em;
  height: calc(100% - 1.2em - 10px);
}

.totals {
  padding: 10px;
  height: fit-content;
  max-height: 100%;
  width: 48%;
  max-width: 9em;
  justify-content: space-around;
}

.totals .cell {
  height: 2.2em;
  width: 2.2em;
  margin: 0 auto;
}

.total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  line-height: 1.5em;
}

.totals.black {
  background: linear-gradient(rgba(255, 255, 255, 0.25) 0%, rgba(0, 0, 0, 0.75) 85%), url("https://cabins-seeds.s3.amazonaws.com/newblack.jpg");
  background-size: cover;
}

.totals.white {
  background: linear-gradient(rgba(0, 0, 0, 0.3) 15%, rgba(250, 250, 250, 0.5) 100%), url('https://cabins-seeds.s3.amazonaws.com/whitewood.jpg');
  background-size: cover;
  color: #4c0f00;
}

.table h2 {
  margin-bottom: 2px;
}

#game button {
  font-size: 1.1em;
  margin: 0.5em;
}