#game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.players {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}

.player {
  padding: 8px;
  padding-left: 6px;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #000;
}

.player[data-player='B'] {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.25) 0%, rgba(0, 0, 0, 0.75) 85%), url("https://cabins-seeds.s3.amazonaws.com/newblack.jpg");
  background-size: cover;
}

.player[data-player='W'] {
  flex-direction: row;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.3) 15%, rgba(250, 250, 250, 0.5) 100%), url('https://cabins-seeds.s3.amazonaws.com/whitewood.jpg');
  background-size: cover;
}

.player.pass:after {
  width: 98px;
  height: inherit;
  position: absolute;
  content: "Pass";
  font-size: 1.1em;
  text-align: right;
  margin-left: -8px;
  line-height: 50px;
  border-radius: inherit;
}

.player.white .captured, .player.white.pass:after {
  color: #4c0f00;
}

.error {
  margin-bottom: 5px;
}