body {
  background: linear-gradient(90deg, #250000 0%, #4c0f00 50%, #250000 100%);
}

#root {
  height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#options {
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  height: 160px;
  justify-content: space-between;
}

.option {
  font-size: 1.1em;
  font-weight: 400;
}

.new-game {
  margin: 15px auto;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#play {
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#size {
  background: transparent;
  outline: none;
  border: none;
  font-size: large;
  margin: 10px 0;
  padding: 0 10px;
  font-family: 'Marcellus', serif;
}

#size:hover {
  background: radial-gradient(#250000, transparent 90%);
}

#back {
  margin-top: 12px;
}

.back-go {
  padding-left: 0;
}

.red {
  color: #8e7171;
}