body {
  background: linear-gradient(90deg, #250000 0%, #4c0f00 50%, #250000 100%);
}

#root {
  height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#options {
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  height: 160px;
  justify-content: space-between;
  align-items: center;
}

.option {
  font-size: 1.1em;
  font-weight: 400;
}

.dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drop-button {
  position: relative;
}

/* #about-list, #author-list {
  top: 0;
  left: 0;
} */

.list {
  position: absolute;
  display: none;
  margin-top: 32px;
}

.show {
  display: flex;
}

.link:hover {
  color: #8e7171;
}

#author-list {
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
}

#author-links {
  display: flex;
  width: 160px;
  justify-content: space-between;
  margin-bottom: 12px;
  color: #8e7171;
}

#author-links .link:hover {
  color: #cbb6b1;
}

.new-game {
  margin: 15px auto;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#play {
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#size {
  background: transparent;
  outline: none;
  border: none;
  font-size: large;
  margin: 10px 0;
  padding: 0 10px;
  font-family: 'Marcellus', serif;
}

#size:hover {
  background: radial-gradient(#5a3030, transparent 75%);
}

#back {
  margin-top: 12px;
}

.back-go {
  padding-left: 0;
}

.red {
  color: #8e7171;
}