body, ul, div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, select, input {
  font-family: 'Marcellus', serif;
  color: #926611;
  font-size: large;
}

ul {
  list-style: none;
  padding-inline-start: 0;
}

h1 {
  font-size: 4em;
  margin: 0;
}