body, ul, div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, select, button {
  font-family: 'Marcellus', serif;
  font-size: large;
  color: #cbb6b1;
}

button {
  background: transparent;
  border: none;
  outline: none;
}

button:hover {
  background: radial-gradient(#5a3030, transparent 75%);
}

ul {
  list-style: none;
  padding-inline-start: 0;
}

h1 {
  font-size: 4em;
  margin: 0;
}

h2 {
  text-align: center;
  margin: 0 0 10px;
  font-size: 1.2em;
  font-weight: 400;
}

h3 {
  margin: 0;
  font-weight: 400;
  font-size: 0.9em;
}

p {
  margin: 0 10px;
}

hr {
  border-color: #8e7171;
  width: 88%;
  margin: 2px 0px 15px;
}